<div class='container'>
  <section><h3 class="arrowTtl">カテゴリ一覧</h3></section>
    <div class="qandaWrap qandaWrapCat">
        <ul>
          <% @categories.each do |category| %>
            <li><%= link_to "#{category.name}", "/questions/category/#{category.id}", method: :get %></li>
          <% end %>
        </ul>
    </div>
</div>
