<div class="container">
  <section><div class="search_content">
    <div class='search_result arrowTtl2'>ランキング</div>
    </div>
  </section>
</div>

<div class='container qa_status_content'>
  <div class='left_content'>
        <div class='status_btn'><%= link_to "解決済み", questions_ranking_path %></div>
        <div class='status_btn status_open'>回答受付中</div>
      </div>
</div>

<%= render file: "partials/_question_list.html.erb" %>

