
<div class="container">
  <div class="company_information">
    <div class="company_all">
      <h1>運営会社</h1>
      <div class="line"></div>
    </div>
    <div class="company_list">
      <h2>会社名</h2>
      <p>株式会社Easy</p>
      <div class="line2"></div>
    </div>
    <div class="company_list">
      <h2>所在地</h2>
      <p>東京都板橋区赤塚新町1-16-2</p>
      <div class="line2"></div>
    </div>
    <div class="company_list">
      <h2>代表取締役</h2>
      <p>圃田洋貴</p>
      <div class="line2"></div>
    </div>
    <div class="company_list">
      <h2>事業内容</h2>
      <p>Q＆Aサービス運営
      <br><br>HP作成</p>
      <div class="line2"></div>
    </div>
    <div class="company_list">
      <h2>設立日</h2>
      <p>2019年3月1日</p>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
   </div>
</div>
