<div class="container">
  <div class="contact_all">
    <div class="contact_some">サービスに関するお問い合わせはコチラから↓ <br><br>(バグがありましたら報告していただけると助かります!）</div>
      <div class="contact_btn">
        <div class="contact_btn_design">
          <div>
            <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSe0DBwqWqcfg_yRnA6CBdteJSclq0mp_bIgplDEB8Syp4O7-Q/viewform" %>
          </div>
        </div>
    </div>
  </div>
</div>
