<div class="container">
    <div class="contact_all">
        <%# <div class="contact_info">
          <h1>お問い合わせ</h1>
        </div> %>

        <%# <div class="contact_form">
        <p>お問い合わせする</p>
            <div class="contact_yes_or_no">
              <div class="contact_yes">
                <a href="#"><div class="yes">YES</div></a>
              </div>
              <div class="contact_no">
                <a href="#"><div class="no">NO</div></a>
              </div>
            </div>
        </div> %>
        
        <div class="contact_some">お問い合わせのある方はコチラから↓</div>

        <div class="contact_btn">
        <div class="contact_btn_design">
        <a href="#"><div>お問い合わせ</div></a>
        </div>
        </div>
    </div>
</div>