 <div class="container">
            <div class="qanda">
                <section>
                    <h2 class="qandaTtl">

                        <span>ヘルプ</span>
                        <img src="/assets/qanda_q.png" alt="Q">
                        <img src="/assets/qanda_a.png" alt="A">
                    </h2>
                </section>



                    <div class="qandaWrap">
                        <div class="qandaItem">
                            <article>
                                <div class="qandaItemStatus">
                                    <div class="question_help">質問</div>
                                    <div class="qandaItemStatusCat"></div>
                                </div>
                                <section><h3>振込申請はどのように行いますか？</h3></section>
                                <p>
                                  マイページ内の【アカウント設定】⇨【お礼】⇨【振込申請】から申請可能です。<br>
                                  振込申請のご対応は、2019/9/1より開始予定です。*振込開始予定日は、変更になる可能性がございます。
                                </p>

                            </article>
                        </div>
                    <div class="qandaItem">
                        <article>
                            <div class="qandaItemStatus">
                               <div class="question_help">質問</div>
                                    <div class="qandaItemStatusCat"></div>
                            </div>
                            <section><h3>振込日数はどのくらいかかりますか？</h3></section>
                            <p>
                                お振込は、当月末日締めまでのお振込申請⇨翌月10日までに行います。                            </p>

                        </article>
                    </div>
                    <div class="qandaItem">
                        <article>
                            <div class="qandaItemStatus">
                            <div class="question_help">質問</div>
                                    <div class="qandaItemStatusCat"></div>
                            </div>
                            <section><h3>振込申請にお金はかかりますか？</h3></section>
                            <p>
                                お振込申請の際、振込手数料を別途差し引いた上でお振込を行います。（5万円未満：300円　5万円以上：500円）
                            </p>


                        </article>
                    </div>
                    <div class="qandaItem">
                        <article>
                            <div class="qandaItemStatus">
                                <div class="question_help">質問</div>
                                    <div class="qandaItemStatusCat"></div>
                            </div>
                            <section><h3>振込は好きなタイミングで行えますか？</h3></section>
                            <p>
                            お振込は、売上金額が350円以上から可能になります。
                            </p>


                        </article>
                    </div>

                    <div class="qandaItem">
                        <article>
                            <div class="qandaItemStatus">
                               <div class="question_help">質問</div>
                                    <div class="qandaItemStatusCat"></div>
                            </div>
                            <section><h3>手数料はかかりますか？</h3></section>
                            <p>
                            売上に関する手数料は無料です。<br>
                            ※無料期間は、終了２週間前に告知致します。
                            </p>


                        </article>
                    </div>

                    <div class="qandaItem">
                        <article>
                            <div class="qandaItemStatus">
                                <div class="question_help">質問</div>
                                    <div class="qandaItemStatusCat"></div>
                            </div>
                            <section><h3>お礼とはなんですか？</h3></section>
                            <div class="help_last">
                            回答者がベストアンサーに選定された際に受け取ることができる報酬になります。
                            </div>
                            <div class="text_caution">※現在お礼をサービス内で使用することはできません。</div>

                        </article>

                    </div>


                    <div class="qandaItem">
                        <article>
                            <div class="qandaItemStatus">
                                <div class="question_help">質問</div>
                                    <div class="qandaItemStatusCat"></div>
                            </div>
                            <section><h3>ベストアンサーが選ばれなかったらどうなりますか？</h3></section>
                            <p>
                           質問に回答が付いてから、5日後に通知をお送りします。<br>
                            また、その3日後（回答が付いてから計8日間）迄にベストアンサーが選定されない場合<br>
                            回答の中からランダム選定となります。
                            </p>


                        </article>
                    </div>


                </div>
                </div>
                </div>
