<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <style type="text/css">
      <!--
      h1 { color: red; }
      -->
      </style>
    </head>
    <body>
      <h1>Qotaelu</h1>
    <h2>現在メンテナンス中です。</h2>
    <p>{{ reason }}</p>
    </body>
</html>



