<div class=container>
  <section>
    <h2 class="qandaTtl">
      <span class="others_title">個人情報保護方針</span>
    </h2>
  </section>
  <div class="privacy_policy">
  株式会社Easy（以下「当社」といいます。）は、当社が運営する「qotaelu」（以下「本サイト」といいます。）のユーザ（本サイトを通じて当社が提供しているサービスの利用者のみならず、本サイトの閲覧者も含みます。以下同じ。）の情報を適切に保護することを社会的責務と自覚し、以下の個人情報保護方針（プライバシーポリシー）に基づき、ユーザの利用者情報の取得、利用、第三者提供等をいたします。<br><br>

      1.　利用者情報の範囲<br>

      本方針において、利用者情報とは、個人情報保護法第2条第1項で定義される「個人情報」のほか、ユーザの識別にかかる情報、通信サービス上における行動履歴、ユーザとの通信に関連して生成又は蓄積された情報を指すものとします。具体的には次に示すような情報となります。
      <br><br>
      ⑴　氏名、住所、性別、生年月日、電話番号、メールアドレス、職業、特技、ユーザの肖像を含む静止画情報等
      <br>
      ⑵　ユーザが、SNS等の外部サービスとの連携を許可した場合に、当該外部サービスでユーザが利用するID及び、その他当該外部サービスのプライバシー設定によりユーザが開示を認めた情報
      <br>
      ⑶	クレジットカード情報、銀行口座情報
      <br>
      ⑷　IPアドレス、リファラ、サーバアクセスログ、Cookie、ADID、IDFAその他の識別子
      <br>
      ⑸　入力フォームその他当社が定める方法を通じてユーザが入力又は送信する情報
      <br><br>
      2.　利用者情報の利用目的
      <br>
      当社は、収集した利用者情報を次の目的のために使用いたします。
      <br><br>
      ⑴　本サイトへの登録の受付、本人確認、登録の承諾、ユーザ設定情報の記録、手数料・報酬の決済・計算等本サイトを提供、運営、維持、改善するため
      <br>
      ⑵　本サイトの利便性及び安全性を向上させるための環境整備のため
      <br>
      ⑶　本サイトに関するご案内、ユーザからのお問い合わせ等に対応するため
      <br>
      ⑷　当社とユーザとの間で必要な連絡を行うため
      <br>
      ⑸　ユーザの本人確認を行うため
      <br>
      ⑹　ユーザのトラフィック測定及び行動測定のため
      <br>
      ⑺　広告の配信、表示及び効果測定のため
      <br>
      ⑻　当社が提供するサービスについての調査、データ集積、研究開発等のため
      <br>
      ⑼　当社がおすすめする商品・サービス等のご案内を送信・送付するため
      <br>
      ⑽	本サイトに関する当社の利用規約等に違反する行為に対応するため
      <br>
      ⑾	当社とユーザとの間で同意した目的のため
      <br>
      ⑿	その他、上記に付随する目的のため
      <br><br>
      3.　利用者情報の収集・取得
      当社は、以下の方法によって適法かつ公正に利用者情報を収集・取得させていただきます。
      <br><br>
      ⑴	本サイトにおいてユーザが入力した情報を収集・取得させていただく方法
      <br>
      ⑵　電子メール、郵便、書面、電話等の手段でご提供いただいた情報を収集・取得させていただく方法
      <br>
      ⑶　本サイトにアクセスいただいた際の通信記録等から情報を収集・取得させていただく方法
      <br>
      ⑷　業務提携先及び第三者から間接的に収集する方法（ユーザがSNS等の外部サービスとのアカウントの連携を許可し場合において、当該外部サービスからユーザの登録情報を収集する方法を含みます。）
      <br><br>
      4.　利用者情報の管理
      当社は、利用者情報を安全に管理するために必要な措置を講じるとともに、利用者情報の取扱責任者を設置し、利用者情報の紛失、毀損、改竄、漏洩、不正利用等が生じないよう努めます。また、当社は、正確かつ最新の状態で利用者情報を管理するよう努めます。
      <br><br>

      5.　個人情報の第三者提供
      <br>
      当社は、以下のいずれかに該当する場合に限り、利用者情報を第三者に提供させていただきます。ただし、個人情報に該当しない利用者情報については、この限りではありません。
      <br><br>
      ⑴　ユーザの同意がある場合
      <br>
      ⑵　公的機関若しくはそれに準じる機関から開示請求を受けた場合
      <br>
      ⑶　生命、身体、財産に危機が生じ、緊急に開示する必要があり、かつ、ユーザの同意を得ることが困難な場合
      <br>
      ⑷　当社が個人情報の取扱いを含む業務を第三者に委託する場合
      <br>
      ⑸　合併、事業譲渡等によって個人情報の取扱いを含む業務を第三者に承継する場合
      <br>
      ⑹　個人情報保護法その他の法令において提供が認められている場合
      <br><br>
      6.　個人情報の開示・訂正等<br>
      当社は、ユーザから個人情報の開示、内容の訂正・追加・削除、利用停止を請求された場合、ユーザ本人からの請求であることを確認のうえ、適切にこれに対応いたします。但し、個人情報保護法その他の法令により、当社がこれらの義務を負わない場合、対応できない場合があります。
      <br><br>
      7.　Cookie（クッキー）の送付<br>
      当社は、本サイトの利便性向上、統計データの取得・分析等の目的で、ユーザのコンピュータの記憶装置にクッキーを送信し、保存・利用させていただくことがあります。なお、クッキーとは、ウェブサイトの利用履歴、ウェブサイト上の入力内容等をユーザのコンピュータにテキストファイルとして保存しておく仕組みのことを指します。
      <br><br>
      8.　本方針の改定手続<br>
      当社は、ユーザによる同意を得ることなく、本方針の全部又は一部の改訂を行うことができるものとし、本方針の改訂後にユーザが本サイトをダウンロードし、又は本サイトを利用した場合には、ユーザは、改定後の本方針に同意したものとみなすものとします。
      <br><br>
      9.　連絡窓口<br>
      当社は、利用者情報に関するお問い合わせに対して誠実に対応いたします。
      利用者情報に関するお問い合わせについては、以下のメールアドレス宛にメールを送信してくださいますよう、お願いいたします。
      <br>
      (easysupport＠es-easy.com.com) 平日10:00-17:00　土日祝休
      <br><br>


      ●年●月●日制定
  </div>
</div>
