<div class='container'>
  <section>
    <h2 class="qandaTtl">
      <span class="others_title">利用規約</span>
    </h2>
  </section>
    <div class="rule_content">
      <div>
        第1条（適用）<br><br>
        1.　本利用規約（以下「本規約」といいます。）は、株式会社Easy（以下「当社」といいます。）が運営する「kotaelu」（以下「本サイト」といいます。）を通じて当社が提供している本サービスについて、ユーザが遵守しなければならない事項、当社とユーザとの間の権利義務関係等を定めるものです。
        <br>
        2.　ユーザは、本規約の内容を十分に理解し、その内容を遵守して本サービスを利用しなければならず、本サービスを利用した場合、本規約に同意したものとみなします。
        <br>
        3.　本規約の内容と、本規約外における本サービスに関する説明等が異なる場合は、本規約の規定が優先して適用されるものとします。
        <br>
        4.	本規約における各規定は、当社とユーザとの間、ユーザと他のユーザとの間など、本サービスを通じて形成される全ての法律関係におおいて適用されるものとします。
        <br><br><br>

        第2条（定義）<br><br>
        本規約で使用される次の各号に掲げられた用語の定義は、次のとおりとします。
        <br>
        ⑴	「本サービス」：本サイトを通じて当社がユーザに提供する一切のサービス
        <br>
        ⑵　「ユーザ」：本サイト上において相談及び回答の投稿に関する機能を利用することができる者
        <br>
        ⑶	「相談者」：ユーザのうち、本サイト上で他のユーザに対する相談を投稿した者
        <br>
        ⑷　「回答者」：ユーザのうち、本サイト上で投稿されている相談に対する回答を投稿した者
        <br>
        ⑸　「ベストアンサー」：各相談に対する回答の中から最も適切な回答として選出された回答
        <br>
        ⑹　「ユーザ情報」：ユーザが登録手続の際に当社に提供した情報
        <br>
        ⑺　「スマートフォン」：本サイトを利用できるOSを備えた携帯電話（タブレット端末を含む）
        <br>
        ⑻　「当社設備」：当社が本サービスを提供するために用意する通信設備、電子計算機その他の機器及びソフトウェアの総称
        <br><br><br>
        第3条（本規約の改定）<br><br>
        1.　当社は、本サイト上又は当社ホームページ上において適宜の方法で告知をすることにより、いつでも本規約の内容の全部又は一部を変更することができるものとします。また、ユーザは、本規約の変更後に本サービスを利用した場合、変更後の本規約の内容に同意したものとみなします。
        <br>
        2.　ユーザは、本サービスを利用する都度、本規約の変更の有無を確認する義務を負うものとします。
        <br>
        3.　当社は、本規約の変更によってユーザに損害が生じた場合であっても、ユーザに対し、一切の責任を負わないものとします。
        <br><br><br>
        第4条（ユーザ登録等）<br><br>
        1.　ユーザとなることを希望する者は、本サイト上において当社の指定するユーザ情報を入力することにより、ユーザ登録手続を実施するものとします。ただし、ユーザ登録手続の実施によってユーザとなるものではなく、当社による承認が必要となります。
        <br>
        2.　ユーザ登録手続は、本サービスの利用を希望する本人（法人の場合、対外的な契約権限を有する者）が行わなければならず、代理人又は使者によるユーザ登録は認められないものとします。
        <br>
        3.　ユーザ登録手続を行おうとする者は、ユーザ情報を入力するにあたり、その情報の全てが真実であることを表明し、保証するものとします。また、ユーザの入力した登録情報に誤りがあったことによって当該ユーザに損害が生じた場合、又は他のユーザに損害を与えた場合、当該ユーザが一切の責任を負うものとします。
        <br>
        4.　当社は、ユーザ登録手続が実施された場合であっても、以下の各号いずれかの事由に該当する場合、ユーザ登録を承認しないことができます。また、承認を拒否した場合であっても、当社は、その理由を開示する義務を負わないものとします。
        <br>
        ⑴　本規約に違反する恐れがあると当社が判断した場合
        <br>
        ⑵　ユーザ情報に虚偽の情報がある場合、又はその恐れがある場合
        <br>
        ⑶　未成年、成年被後見人、被保佐人又は被補助人のいずれかであり、法定代理人、後見人､保佐人又は補助人の同意等を得ていなかった場合
        <br>
        ⑷　既にユーザとなっている場合
        <br>
        ⑸　反社会的勢力等（暴力団、暴力団員、右翼団体、反社会的勢力、その他これに準ずる者を意味する。以下同様とします。）である、又は資金提供その他を通じて反社会的勢力等の維持、運営若しくは経営に協力若しくは関与する等反社会的勢力等との何らかの交流若しくは関与を行っていると当社が判断した場合
        <br>
        ⑹　過去に本規約に違反したことがある場合、又は本サイトのユーザ登録取消処分を受けたことがある場合
        <br>
        ⑺　その他、ユーザ登録を承認することが不適切であると当社が判断した場合
        <br>
        5.　ユーザは、ユーザ情報の内容に変更が生じた場合、本サイト内における所定の手続を行うことにより、直ちに最新のユーザ情報に更新しなければなりません。また、ユーザがユーザ情報の更新を怠ったことによって当該ユーザに損害が生じた場合、又は他のユーザに損害を与えた場合、当該ユーザが一切の責任を負うものとします。
        <br>
        6.　ユーザ登録された表示名、ID、アイコン画像その他当社が指定する事項については、ユーザのプロフィールページ、本サイトの検索結果等で公開されます。
        <br><br><br>
        第5条（ログインID及びパスワードの管理）
        <br><br>
        1.　ユーザは、当社が発行する当該ユーザのID及びパスワード（以下「アカウント情報」といいます。）を適切に管理し、アカウント情報が第三者に漏洩することを防止する措置を講じるものとします。
        <br>
        2.　ユーザは、自らのアカウント情報を第三者に開示し、又は第三者に利用させてはならないものとします。
        <br>
        3.　第三者がアカウント情報を不正に利用したことよってユーザが損害を被った場合、その原因が当社の故意又は重過失によるものでない限り、当社は、当該ユーザに対し、一切の責任を負わないものとします。また、不正利用等の原因がユーザの故意又は過失によるものである場合、当該ユーザは、不正利用等によって第三者に与えた損害について、一切の責任を負うものとします。
        <br>
        4.　ユーザは、自らのアカウント情報が漏洩したこと、若しくは第三者に利用されていること、又はそれらの恐れがあることを認知した場合、当社に対し、直ちにその旨を通知したうえで、当社の指示に従うものとします。
        <br><br><br>
        第6条（退会）<br><br>
        1.　ユーザは、本サイト内の所定の手続によって退会（ユーザとしての地位を喪失すること。以下同じ。）の申請を行うことにより、退会をすることができます。
        <br>
        2.　当社は、ユーザから退会の申請がなされた場合であっても、退会によって当社の事務に支障が生じると判断した場合、その支障を除去できるまでの間、退会を留保することができます。
        <br><br><br>
        第7条（本サービスの利用方法等）<br><br>
        1.	ユーザは、相談者として、相談したい事項を投稿することにより、相談に対する回答を募集することができます。また、ユーザは、回答者として、相談者から投稿されている相談に対する回答を投稿することができます。
        <br>
        2.	ユーザは、相談者として相談を投稿するにあたり、ベストアンサーに選出された回答の回答者（以下「ベストアンサー回答者」といいます。）に対する報酬の金額を設定するものとします。
        <br>
        3.	相談に対する回答を募集する期間（以下「回答募集期間」といいます。）は、原則として相談の投稿がなされた日から１週間とします。
        <br>
        4.	相談者は、回答募集期間中であっても、相談に対する回答が1件もなされていない場合であれば、相談を取り消すことができます。ただし、相談の取消しは、1ヶ月につき2回までに限るものとします。
        <br>
        5.	回答者は、ベストアンサーが決まるまでの間に限り、回答を取り消すことができます。
        <br>
        6.	回答募集期間中における回答が１件のみであった場合、回答募集期間の終了と同時に、相談者が当該回答をベストアンサーに選出したものとみなします。
        <br>
        7.	相談に対する回答が2件以上である場合、相談者は、回答募集期間の終了した日から3日以内に、回答の中からベストアンサーを選出するものとします。ただし、回答募集期間の終了した日から3日以内に相談者がベストアンサーを選出しなかった場合、最初に投稿された回答がベストアンサーに選出されたものとみなします。
        <br>
        8.	相談者は、回答募集期間中であっても、既に投稿された回答の中からベストアンサーを選出し、回答の募集を終了することができます。
        <br>
        9.	ベストアンサーが選出された場合、相談者とベストアンサー回答者との間において、相談者がベストアンサー回答者に対し、相談者が相談を投稿する際に設定した報酬を本規約に定められた時期・方法に従って支払う旨の合意が成立したものとみなします。なお、当社は、本サービスを通じてユーザが疑問・悩みを解決するためのプラットフォームを提供しているにすぎず、報酬の支払いに関する合意の当事者となるものではありません。
        <br><br><br>
        第8条（決済手続）<br><br>
        1.	ベストアンサー回答者は、当社に対し、報酬を代理受領する権限を付与するとともに、報酬の請求事務を委託するものとします。また、ベストアンサー回答者は、当社の承諾を得ない限り、相談者に対し、直接的に報酬の支払いを請求することはできません。
        <br>
        2.	相談者は、ベストアンサーを選出した日から7日以内に、代理受領権限を有する当社に対し、次の各号のいずれかの方法によって、ベストアンサー回答者に対する報酬を支払わなければなりません。但し、銀行振込の場合、振込手数料は相談者の負担とします。
        <br>
        ⑴　銀行振込
        <br>
        ⑵　クレジットカード
        <br>
        3.	当社は、相談者がベストアンサー回答者に対して約定どおりに報酬の支払いをしなかった場合であっても、ベストアンサー回答者に対し、一切の責任を負わないものとします。
        <br><br><br>
        第9条（本サービスの利用料）<br><br>
        1.	ベストアンサー回答者は、当社に対し、本サービスの利用料を支払うものとします。
        <br>
        2.	本サービスの利用料は、ベストアンサー回答者が相談者から受領できた報酬の30％に相当する額（消費税別・1円未満切捨て）とします。
        <br>
        3.	当社は、相談者からベストアンサー回答者に対して支払われた報酬を代理受領した場合、ベストアンサー回答者に対する個別の通知なく、代理受領した報酬の一部を本サービスの利用料に充当するものとします。
        <br><br><br>
        第10条（報酬の返金申請）<br><br>

        1.	ユーザは、当社が代理受領している報酬の返金を希望する場合、本サイト内で定められた報酬の返金申請を行うことにより、当社から報酬の返金を受けることができます。但し、返金申請の際に指定できる金額は500円を最低額とします。
        <br>
        2.	当社は、ユーザから報酬の返金申請がなされた場合、申請日から7営業日以内に、ユーザが登録している預貯金口座に振込送金する方法によって報酬の返金を行います。
        <br>
        3.	当社が代理受領をしている金額の一部についてのみ返金申請がなされた場合、当社は、代理受領した日時が古い報酬から順次返金を行うものとします。
        <br>
        4.	当社が代理受領をした日から180日が経過した報酬については、ユーザによる報酬の返金申請がなされていなくても、当社は、ユーザが登録している預貯金口座に振込送金する方法によって報酬の返金を行います。ただし、返金すべき報酬の金額が振込手数料を下回る場合、当社は、当該報酬について、ユーザに対する返金義務を免れるものとします。
        <br>
        5.	ユーザが登録している預貯金口座の凍結、登録している口座情報の誤り等の理由によって前項に基づく返金を行えなかった場合、当社は、ユーザに対する報酬の返金義務を免れるものとします。
        <br>
        6.	報酬の返金にあたって発生する振込手数料はユーザの負担とし、当社は、返金申請がなされた金額から振込手数料を控除した金額を振込送金するものとします。なお、返金申請がなされた金額が振込手数料に満たない場合、返金は行われません。
        <br><br><br>
        第11条（本サイトに関する知的財産権等）<br><br>
        1.	本サイト内で当社が提供する画像、映像、テキスト等に関する著作権等の知的財産権（著作権法第27条及び第28条の権利を含みます。以下同じ。）は、当社又は第三者に帰属し、ユーザに帰属するものではありません。
        <br>
        2.	本サイトを通じて当社がユーザに対して提供する画像、映像、テキスト等に関する著作権等の知的財産権は、当社又は第三者に帰属し、ユーザに帰属するものではありません。
        <br><br><br>
        第12条（投稿したデータの権利及び利用等）<br><br>
        1.	ユーザの投稿に含まれる著作権等の知的財産権は、当該ユーザに帰属します。ただし、ユーザは、当社に対し、ユーザの投稿に含まれる著作権等の知的財産権を無償で自由に利用（複製、公衆送信、改変、再許諾その他のあらゆる利用を含みます。）することにつき許諾を与えるものとします。
        <br>
        2.	ユーザは、当社に対し、著作者人格権を行使しないことに同意するものとします。
        <br>
        3.	相談者は、回答者による事前の承諾がない限り、回答者による回答の内容を転載、引用又は商業利用することはできないものとします。
        <br>
        4.	当社は、回答者による回答について、内容の正確性、信憑性、適法性、有用性等について、一切の責任を負わないものとします。
        <br>
        5.	ユーザは、回答者による回答について、内容の正確性、信憑性、適法性、有用性等を自らの責任において判断し、利用しなければなりません。そのため、回答者による回答を利用したことで損害を被った場合であっても、ユーザは、当該回答者に対し、一切の責任を負わせることはできません。
        <br><br><br>
        第13条（監視業務）<br><br>
        1.	当社は、ユーザによる本サービスの利用方法が本規約及び法令に違反していないか否かを判断するため、ユーザによる投稿の内容、ユーザ間におけるメッセージの内容等を自由にを閲覧することができるものとし、ユーザは、予めこれに同意するものとします。
        <br>
        2.	当社は、前項の閲覧により不適切な内容の投稿、メッセージ等を発見した場合、事前の通知なく、投稿の削除、メッセージの削除等の必要な措置を講じることができるものとし、ユーザは、予めこれに同意するものとします。
        <br>
        3.	当社は、前項の措置の対象となったユーザが当該措置によって損害を被った場合であっても、当該ユーザに対し、一切の責任を負わないものとします。
        <br><br><br>
        第14条（秘密情報の取り扱い）<br><br>
        1.	ユーザは、他のユーザから秘密であると明示されて開示を受けた情報（以下「秘密情報」といいます。）を厳に秘密として保持し、開示を受けた目的以外には一切使用せず、また、第三者に対して開示又は漏洩してはならないものとします。
        <br>
        2.	ユーザは、次の各号のいずれかに該当することを証明できる情報については、前項に定める義務も負わないものとします。
        <br>
        ⑴	開示を受けた際に既に公知となっている情報
        <br>
        ⑵	開示を受ける際に既に保有していた情報
        <br>
        ⑶	開示を受けた後に自己の責めに帰すべからざる事由により公知となった情報
        <br>
        ⑷	開示を受けた後に自己の独自の開発により知得した情報
        <br>
        ⑸	開示を受けた後に正当な権限を有する第三者から秘密保持の義務を負わずに適法に取得した情報
        <br>
        3.	ユーザは、他のユーザに対して秘密情報を開示する場合、当該他のユーザとの間で個別の秘密保持契約を締結するなどの方法により、秘密情報の漏洩等を防ぐ措置を講じることに努めるものとします。
        <br><br><br>
        第15条（禁止事項）<br><br>
        ユーザは、本サービスを利用するにあたり、次の各号に掲げる行為を行ってはなりません。
        <br>
        ⑴　本規約又は法令に違反する行為
        <br>
        ⑵	他者の生命、身体、財産、プライバシー、著作権、商標権その他の権利及び法律上保護される利益を侵害し、又は侵害する恐れのある行為
        <br>
        ⑶	特定個人の氏名、住所、電話番号、メールアドレス等の情報を第三者に提供する行為
        <br>
        ⑷	他者を誹謗中傷し、又は他者の名誉若しくは信用を毀損する行為
        <br>
        ⑸	複数のメールアドレス等を利用して重複してユーザ登録を行う行為
        <br>
        ⑹	他者に自らのアカウント情報を使用させ、又は他社のアカウント情報を使用する行為
        <br>
        ⑺	虚偽の情報を用いてユーザ登録を行う行為
        <br>
        ⑻	有害なコンピュータプログラム等を送信し、若しくは他者が受信可能な状態にし、又はその恐れのある行為
        <br>
        ⑼	当社による本サイトの運営若しくは業務の遂行を妨害し、又はその恐れのある行為
        <br>
        ⑽	他者に対し、広告・宣伝・勧誘等を目的とする電子メール又はメッセージ（以下「電子メール等」といいます。）を送信し、又は嫌悪感を抱かせる内容の電子メール等を送信する行為
        <br>
        ⑾	他者の電子メール等の受信を妨害する行為、又は連鎖的な電子メール等の転送を依頼する行為、若しくは当該依頼に応じて転送する行為
        <br>
        ⑿	当社設備に無権限でアクセスする行為
        <br>
        ⒀	他者のユーザ情報を不正に取得する行為
        <br>
        ⒁	違法行為を助長し、又はその恐れのある投稿をする行為
        <br>
        ⒂　マルチ、ねずみ講、MLM等の連鎖取引に他者を勧誘することを目的とする相談を投稿し、又は回答する行為
        <br>
        ⒃	当社の名誉若しくは信用を侵害し、又はその恐れのある行為
        <br>
        ⒄	法的な責任を超えた不当な要求行為、又は脅迫的若しくは暴力的な言動
        <br>
        ⒅	上記各号のほか、社会通念に照らして不適切だと評価される一切の行為
        <br><br><br>
        第16条（違反行為等に対する措置）<br><br>
        1.	当社は、ユーザが前条各号のいずれかに該当する行為を行ったと判断した場合、当該ユーザに何らの通知をすることなく、当社の裁量により、当該ユーザによるアクセス拒否、当該ユーザによる投稿の削除、ユーザ登録の抹消その他当社が必要と判断した一切の措置を講じることができるものとします。
        <br>
        2.	当社は、前項の措置の対象となったユーザが当該措置によって損害を被った場合であっても、当該ユーザに対し、一切の責任を負わないものとします。
        <br>
        3.	ユーザは、本規約又は法令に違反する行為によって当社に損害（第三者に与えた損害を当社が補填したことによる当社の損害を含む。）を与えた場合、当社に対し、損害賠償責任を負うものとします。また、その場合において、当社に生じた損害額の立証が困難な場合、損害額は50万円とみなすものとします。
        <br>
        4.	当社は、第1項に基づきユーザに対する措置を講じた場合であっても、当該ユーザに対し、当該措置の対象となった理由を開示する義務を負わないものとします。
        <br><br><br>
        第17条（連絡方法等）<br><br>
        1.	当社は、ユーザに対する連絡事項等がある場合、ユーザ情報として登録されたメールアドレス宛にメールを送信する方法により、ユーザに連絡を行うものとします。また、ユーザが登録したユーザ情報に誤りがあったこと等の理由でメールによる連絡ができなかった場合、当社は、その他の手段による連絡をする義務を負わず、かつ、ユーザが被った損害についての責任を負わないものとします。
        <br>
        2.	ユーザは、当社に対する連絡事項等がある場合、本サイト上のお問い合わせフォームを用いて当社に連絡を行うものとします。なお、当社は、電話による連絡及び来訪は受け付けておりません。
        <br><br><br>
        第18条（本サイトの保証及び中断・停止等）<br><br>
        1.	当社は、本サイトについて、瑕疵又はバグがないことを保証しておりません。また当社は、ユーザに対しあらかじめ通知することなく、本サイトの内容や仕様を変更、提供の停止、又は中止をすることができるものとします。ただし、利用料の変更その他ユーザに大きな影響を与える事項に関しては、あらかじめ合理的な告知期間を設けるものとし、当該告知は、本サイト上での表示その他当社が合理的と判断する方法により行うこととします。
        <br>
        2.	当社は、本サイトが、全てのスマートフォン及びＯＳに対応することを保証しておりません。
        <br>
        3.	当社は、次の各号のいずれかに該当する事由が生じた場合、ユーザに対する事前の通知なく、本サービスの提供を一時的に中断することができるものとします。
        <br>
        ⑴	当社設備の保守・点検を行う場合
        <br>
        ⑵	当社設備に障害・不具合が発生した場合
        <br>
        ⑶	火災、停電等により本サイトの提供ができなくなった場合
        <br>
        ⑷	地震、噴火、洪水、津波等の天災により本サイトの提供ができなくなった場合
        <br>
        ⑸	戦争、動乱、暴動、騒乱、労働争議等により本サイトの提供ができなくなった場合
        <br>
        ⑹	前各号の他、当社が本サイトの一時的な中断が必要と判断した場合
        <br>
        4.	当社は、本サイト上で1週間前までに告知することにより、本サービスの提供を停止又は終了することができるものとします。
        <br>
        5.	当社は、前二項の規定に基づく措置によってユーザに生じた損害について、一切の責任を負わないものとします。
        <br><br><br>
        第19条（事業譲渡等）<br><br>
        1.	当社が本サイトの運営を含む事業を第三者に譲渡した場合、当社は、本サイトの運営者たる地位、本規約における当事者としての地位、ユーザとの間における権利義務等を当該事業譲渡の譲受人に譲渡するものとし、ユーザは、予めこれに同意するものとします。
        <br>
        2.	前項の場合において、当社は、本サイトを通じて当社が知り得たユーザの一切の情報（ユーザ情報を含みます。）を当該事業譲渡の譲受人に提供することができるものとし、ユーザは、予めこれに同意するものとします。
        <br><br><br>
        第20条（免責事項）<br><br>
        当社は、次の各号に掲げる損害について、ユーザに対し、一切の責任を負わないものとします。
        <br>
        ⑴	他のユーザが本規約又は法令に違反する行為を行ったことによってユーザが被った損害
        <br>
        ⑵	本サイトの障害・不具合によってユーザが被った損害
        <br>
        ⑶	他のユーザによる債務不履行等によってユーザが被った損害
        <br>
        ⑷	その他、当社による本サービスの利用を通じてユーザが被った一切の損害
        　<br><br><br>
        第21条（ユーザ情報等の取扱い）<br><br>
        ユーザによる本サイトの利用を通じて当社が知り得たユーザに関する一切の情報（ユーザ情報を含む。）について、当社は、別途定める「個人情報保護方針（プライバシーポリシー）」に従って取り扱うものとし、ユーザは、これに同意したものとします。 
        <br><br><br>
        第22条（基準時刻）<br><br>
        本サービスの提供にあたって基準となる時刻は、当社のサーバ内で管理されている時刻によるものとします。
        <br><br><br>
        第23条（準拠法・管轄裁判所）<br><br>
        1.	本規約は日本法に基づき解釈されるものとします。また、本規約の一部が無効な場合であっても、適用可能な条項については有効なものします。
        <br>
        2.	本サイトに関連して紛争が発生した場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
        <br>
      </div>
  </div>
</div>
