  <div class="container mypage">
    <nav class="myprNav">
        <ul class="user_setting">
            <li><%= link_to "本人情報", "/identification/#{current_user.id}", class: '' %></li>
            <li><%= link_to "支払い方法", "/card/#{current_user.id}", class: 'card_info' %></li>
            <li><%= link_to "お礼", "/point/#{current_user.id}", class: '' %></li>
        </ul>
    </nav>

    <div class="preparation">
        <div class="preparaiton_info">
          <h1>QOTAELU<span>を使ってくれてありがとう！</span><h1>
          <h2>※このページは只今準備中です。</h2>
          <h3>実装まで今しばらくお待ちください。</h3>
        </div>
     </div>
  </div>
