  <div class="container mypage">
    <nav class="myprNav">
        <ul class="user_setting">
            <li><%= link_to "本人情報", "/identification/#{current_user.id}", class: '' %></li>
            <li><%= link_to "支払い方法", "/card/#{current_user.id}", class: '' %></li>
            <li><%= link_to "お礼", "/point/#{current_user.id}", class: 'point_info' %></li>
        </ul>
    </nav>

    <div class="point_info">
      <div class="point_all">
        <div class="point_some">
          <p>現在の残高</p>
          <div>1000円</div>
        </div>
        <div class="point_some">
          <p>振込申請</p>
          <div class="icon_point">
          <a href="#" class="icon_point2"></a>
          </div>
        </div>
        <div class="text1-center">
        <div class="text-1">※9/1から振込申請可能</div>
        </div>
        <div class="point_some">
          <p>お礼とは？</p>
          <div class="icon_point">
          <a href="#" class="icon_point2"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
