
<div class="loginnav">
    <div class="loginlogo"><%= image_tag("h_logo.jpg", alt: "QOTAELU") %>
        <p class="snslogin">SNSアカウントでログイン</p>
        <%= link_to "Facebookでログイン", "/users/auth/facebook", class: 'facebookt_btn' %>
        <%= link_to "Twitterでログイン", "/users/auth/twitter" , class: 'twitter_btn' %>
        <%= link_to "Googleでログイン", "/users/auth/google_oauth2" , class: 'google_btn' %>
    </div>
</div>
