
<div class="loginnav">
    <div class="loginlogo"><%= image_tag("h_logo.jpg", alt: "QOTAELU") %>
        <p class="snslogin">SNSアカウントでログイン</p>
        <%= link_to "Facebookでログイン", "/users/auth/facebook", class: 'loginBtnFb' %>
        <%= link_to "Twitterでログイン", "/users/auth/twitter" , class: 'loginBtnTw' %>
        <%= link_to "Googleで登録", "/users/auth/google_oauth2" , class: 'loginBtnTw' %>
    </div>
</div>
