 <div class="container">
    <div class="qanda">
        <section>
            <div class="rankname">
                <h2 class="rank">
                    <span>Week</span>
                </h2>
                <h2 class="rank">
                    <span>Month</span>
                </h2>
                <h2 class="rank">
                    <span>Total</span>
                </h2>
            </div>
        </section>

        <div class="rankWrap">
            <div class="ranking">
                <article>
                    <div class="one">
                    <h2 class="one">1</h2>
                    <img class="ikon_img" src="https://files-uploader.xzy.pw/upload/20190626132827_5a4a477861.png">
                    <h3 class="one_name">username</h3>
                    <h4>2121</h4>
                </article>
            </div>


            <div class="ranking2">
                <article>
                    <div class="two">
                    <h2 class="two">2</h2>
                    <img class="ikon_img" src="https://files-uploader.xzy.pw/upload/20190626132827_5a4a477861.png">
                    <h3 class="one_name">username</h3>
                    <h4>2121</h4>
                </article>
            </div>

            <div class="ranking">
                <article>
                    <div class="three">
                    <h2 class="three">3</h2>
                    <img class="ikon_img" src="https://files-uploader.xzy.pw/upload/20190626132827_5a4a477861.png">
                    <h3 class="one_name">username</h3>
                    <h4>2121</h4>
                </article>
            </div>

            <div class="ranking2">
                <article>
                    <div class=etc>
                    <h2 class="etc">4</h2>
                    <img class="ikon_img" src="https://files-uploader.xzy.pw/upload/20190626132827_5a4a477861.png">
                    <h3 class="one_name">username</h3>
                    <h4>2121</h4>
                </article>
            </div>

            <div class="ranking">
                <article>
                    <div class="etc">
                    <h2 class="etc">5</h2>
                    <img class="ikon_img" src="https://files-uploader.xzy.pw/upload/20190626132827_5a4a477861.png">
                    <h3 class="one_name">username</h3>
                    <h4>2121</h4>>
                </article>
            </div>
        </div>
    </div>
</div>
