.notice_item {
    padding: 15px 20px;
    font-size: 1.5rem;
    border-left: 1px solid #b0b7ba;
    border-right: 1px solid #b0b7ba;
    border-bottom: 1px solid #b0b7ba;
    display: flex;
    align-items: center;
    justify-content: center;

}

.notice_all {
    background-color: white;
}

.all_info {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #7a7d8a;
    padding-bottom: 40px;
    padding-top: 20px;
}

.notice_box {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 40px;
}

.notice_mail {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-bottom: solid 1px #7a7d8a;
}

.notice_info {
    display: flex;

    a {
        font-size: 1.5rem;
        margin: auto 0;
        padding-left: 20px;
    }
}

.notice_logo {
    border-radius: 30px;
}

.date {
    text-align: right;
    font-size: 1rem;
}

.dropLabel2,
.item4 {
	width: 185px;
    display: block;
    background-color: #fff;
    position: relative;
    color: #333;
    text-decoration: none;
    box-sizing: border-box;
    justify-content: center;
}

.item4 {
	// padding: 15px 20px;
    font-size: 1rem;
    border-left: 1px solid #b0b7ba;
    border-right: 1px solid #b0b7ba;
    border-bottom: 1px solid #b0b7ba;
	display: flex;
  align-items: center;
  z-index: 10;
  width: 140px;
}



@media screen and (max-width: 640px) {
    .notice_info a {
        font-size: 1rem !important;
    }
}