
.notice_item {
	padding: 15px 20px;
    font-size: 1.5rem;
    border-left: 1px solid #b0b7ba;
    border-right: 1px solid #b0b7ba;
    border-bottom: 1px solid #b0b7ba;
	display: flex;
    align-items: center;
    justify-content: center;

}

