// プライバシーポリシー
// 利用規約

.rule_content,
.privacy_policy{
  font-size: 10px;
	font-weight: 600;
	color: #333;
  padding: 5px;
  margin: 15px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border: 5px solid #dae1e3;
	overflow: scroll visible;
	background: #fff;
	display: flex;
	align-items: center;
	margin-bottom: 70px;
	// width: 90%;
}

.others_title{
  padding-top: 7px;
  padding-left: 7px;
}

// 会社概要

.company_information {
	width: 60%;
	margin: 0 auto;
	background-color: #fff;

	.line {
		border-bottom: solid 2px gray;
		width: 70%;
		margin: 0 auto;
		margin-bottom : 40px;
		margin-top: 10px;
	}

	.line2 {
		border-bottom: solid 1px gray;
		margin: 0 auto;
		margin-bottom : 40px;
		margin-top: 40px;
		opacity: 0.5;
	}

	.line3 {
		border-bottom: solid 1px gray;
		margin: 0 auto;
		margin-bottom : 50px;
		margin-top: 40px;
		opacity: 0;
	}

	.company_all {
		text-align: center;

		h1 {
			font-size: 2.5rem;
			font-weight: 600;
			padding-top: 30px;
			// border-bottom: solid 1px gray;

		}
	}

	.company_list {
		width: 70%;
		margin: 0 auto;

		h2 {
			font-size: 1.7rem;
			font-weight: 600;
			padding-bottom: 20px;
		}

		p {
            font-size: 1.5rem;
            color: #595753;
		}
	}

}

.contact_all {
	background-color: #fff;
	margin-bottom: 40px;
}

.contact_info {
	margin: 0 auto;
	border-bottom: 2px solid #595753;
	width: 500px;

	h1 {
		font-size: 3rem;
		font-weight: 600;
		color: #595753;
		padding-top: 40px;
		padding-bottom: 20px;
		text-align: center;
	}
}

.contact_some {
	text-align: center;
	font-size: 1.5rem;
	padding-top: 40px;
}

.contact_btn {
	margin: 0 auto;
	padding-bottom: 60px;

	.contact_btn_design {
		background-color: #60cef0;
		width: 300px;
		margin: 0 auto;
		margin-top: 30px;
		border-radius: 30px;

		div {
			font-size: 2.5rem;
			font-weight: 600;
			color: #fff;
			text-align: center;
			padding-top: 10px;
            padding-bottom: 10px;
            a{
                color : inherit;
            }
		}
	}

	.contact_btn_design:hover {
		opacity: 0.8;
	}
}

.question_help {
	font-size: 1.4rem;
	font-weight: 600;
  color: #fff;
  padding: 5px 18px;
  border-radius: 25px;
	display: block;
	background-color: #60cef0;
}

.text_caution {
	font-size: 5px;
}

.help_last {
	font-size: 1.5rem;
    line-height: 1.5em;
    color: #333;
    display: block;
    word-break: break-all;
    word-wrap: break-word;
}

// .contact_form {
// 	margin: 0 auto;
// 	width: 500px;

// 	p {
// 		font-size: 2rem;
// 		font-weight: 600;
// 		color: #595753;
// 		padding-top: 40px;
// 		padding-bottom: 40px;
// 		text-align: center;
// 	}
// }

// .contact_yes_or_no {
// 	display: flex;
// 	margin: 0 auto;
// 	padding-bottom: 40px;

// 	.contact_yes {
// 		width: 150px;
// 		margin: 0 auto;
// 		background-color: #60cef0;
// 		border-radius: 10px;

// 		a {
// 			margin: 0 auto;
// 		}
// 	}

// 	.contact_no {
// 		width: 150px;
// 		margin: 0 auto;
// 		background-color: #ed2751;
// 		border-radius: 10px;
// 	}

// 	.yes {
// 		font-size: 2.5rem;
// 		font-weight: 600;
// 		color: #fff;
// 		padding-top: 40px;
// 		padding-bottom: 40px;
// 		text-align: center;
// 	}

// 	.no {
// 		font-size: 2.5rem;
// 		font-weight: 600;
// 		color: #fff;
// 		padding-top: 40px;
// 		padding-bottom: 40px;
// 		text-align: center;
// 	}
// }
