// Place all the styles related to the top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.all_qa {
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;

  .all_qa_btn {
    font-size: 1.5rem;
    padding: 10px 2px 10px 10px;
    &:hover{
        text-decoration: underline;
    }
  }
}

.right_arrow {
  margin-bottom: 10px;
}

.right_arrow::before {
  content:">";
  font-size: 15px;
  position: relative;
}

@media screen and (max-width: 640px) {
  .top_info_item1 {
    font-size: 15px !important;
  }

  .top_information {
    padding-left: 10px;
    width: 55px !important;

    .top_info_text2 {
      padding-top: 3px;
      padding-bottom: 3px;
      font-size: 5px !important;
    }
  }

  .top_info_text {
    p {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
}
