// ユーザーページ

.mypage {
	width: 750px;
	margin: 0 auto;
}

.myprNav {
  background-color: #fff;
}

.mypr{
  margin-bottom: 40px;
}

.MyNavWrap {
	width: 410px;
	margin: 0 auto;
	padding: 18px 0;
	display: flex;
	align-items: center;
}

.MyNavWrap > li > a {
	font-size: 1.5rem;
	font-weight: 600;
	color: #343636;
	padding: 0 30px;
}

.prNavWrap {
	width: 330px;
	margin: 0 auto;
	padding: 18px 0;
	align-items: center;
}

.prNavWrap > li {
	font-size: 1.5rem;
	font-weight: 600;
	color: #343636;
	padding: 0 10px;
}

.prNavWrap2 {
	width: 345px;
	margin: 0 auto;
	padding: 18px 0;
	align-items: center;
}
.prNavWrap2 > li {
	font-size: 1.5rem;
	font-weight: 600;
	color: #343636;
	padding: 0 30px;
}

.proname{
	display: block;
	text-align: center
}

.proname1 {
	float: left;
}

.profile {
	font-size: 1.5rem;
	font-weight: 600;
	color: #343636;
	margin: 15px;
  padding: 0;
}

.box12 {
	position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #60cef0;
    border-radius: 8px;
}

.box12 .box-title {
	position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #343636;
    font-weight: bold;
}

.pro_edit_btn{
  text-align: end;
}
.user_edit_btn{
  color: #888e92;
}
