// ログイン,新規登録

.loginnav {
	width: 350px;
  margin: 0 auto;
}

.loginnav2 {
	font-size: 1.5rem;
  font-weight: 600;
}

.loginlogo {
	text-align: center;
	background-color: #FFF;
  padding: 20px 0;
  margin: 40px 0;
  padding-bottom: 40px;
}

 .wakusen {
	border :0.5px solid;
	height: 20px;
	width : 250px;
	color : #666e71;
	padding: 2px;
	border-color: #666e71;
  padding-left : 5px;
  margin: 0 auto;
}
.user_option_save,
a.user_option_pass{
  font-size: 12px;
  margin: 5px 0;
}

input.loginBtn{
  margin: 10px 0;
}
input.loginBtn,
.loginBtn a {
  // font-size: 1.5rem;
  width: 250px;
  padding: 10px 0;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #60cef0;
  border-radius: 50px;
  display: inline-block;
	box-shadow: 0 0 10px #ddd;
	// margin: 5px 0;
}

.facebookt_btn {
  width: 250px;
  padding: 15px 0;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #3B5998;
  border-radius: 50px;
  display: inline-block;
  box-shadow: 0 0 10px #ddd;
  margin-bottom: 25px;
}

.twitter_btn {
  width: 250px;
  padding: 15px 0;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #1DA1F2;
  border-radius: 50px;
  display: block;
  box-shadow: 0 0 10px #ddd;
  margin-bottom: 25px;
}

.google_btn{
	width: 250px;
	padding: 15px 0;
	margin: auto;
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	text-align: center;
	background: #dd4b39;
	border-radius: 50px;
	display: block;
    box-shadow: 0 0 10px #ddd;
    margin-bottom: 25px;
}

.snslogin {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top : 15px;
}

.noshade1 {
	width: 250px;
}

.forgetpass {
	display: block;
	font-size: 0.5rem;
	padding-right: 140px;
}

.loginnav3 {
	margin-bottom: 0;
}

.loginnav4 {
	margin-bottom: 0;
	margin-top : 15px;
}


// ユーザーページ

.mypage {
    margin: 0 auto;
}

.myprNav {
  background-color: #fff;
  margin-bottom: 40px;
}

.mypr{
  margin-bottom: 40px;
}

.MyNavWrap {
	width: 410px;
	margin: 0 auto;
	padding: 18px 0;
	display: flex;
	align-items: center;
}

.MyNavWrap > li > a {
	font-size: 1.5rem;
	color: #343636;
  padding: 0 30px;
  &:hover{
    opacity: .7;
  }
}

.user_setting {
	width: 350px;
	margin: 0 auto;
	padding: 18px 0;
	display: flex;
	align-items: center;
}

.user_setting > li > a {
	font-size: 1.5rem;
	color: #343636;
  padding: 0 30px;
  &:hover{
    opacity: .7;
  }
}

.prNavWrap {
	width: 330px;
	margin: 0 auto;
	padding: 18px 0;
	align-items: center;
}

.prNavWrap > li {
	font-size: 1.5rem;
	font-weight: 600;
	color: #343636;
	padding: 0 10px;
}

.prNavWrap2 {
	width: 345px;
	margin: 0 auto;
	padding: 18px 0;
	align-items: center;
}
.prNavWrap2 > li {
	font-size: 1.5rem;
	font-weight: 600;
	color: #343636;
	padding: 0 30px;
}

.proname{
	display: block;
  text-align: center
}

.proname1 {
	float: left;
}

.profile,
.no_profile{
	font-size: 1.5rem;
    font-weight: 600;
    color: #343636;
    margin: 15px;
    padding: 0;
}
.no_profile{
    text-align: center;
}

.box12 {
	position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #60cef0;
    border-radius: 8px;
}

// .box12 .box-title {
// 	position: absolute;
//     display: inline-block;
//     top: -13px;
//     left: 10px;
//     padding: 0 9px;
//     line-height: 1;
//     font-size: 19px;
//     background: #FFF;
//     color: #343636;
//     font-weight: bold;
// }

// .pro_edit_btn{
//   text-align: end;
// }
// .user_edit_btn{
//   color: #888e92;
//   &:hover{
//     opacity: .7;
//   }
// }


.my_answer_item{
  padding-bottom: 5px;
}

.my_answer_item p{
  margin: 15px 0;
}


// プロフィール情報編集

.user_profile_edit{
  font-size: 1.5rem;
  padding: 20px 0;
  width: 330px;
  margin: 0 auto;
}
.user_edit_form{
  border: 0.5px solid #666e71;
  height: 25px;
  display: block;
  margin-top: 5px;
  padding: 0 5px;
  font-weight: 400;
  background-color: #FFF;
  width: 200px;
}

.edit_nickname {
  width: 189px;
}

.user_edit_form.edit_bio {
  padding-top: 5px;
  height: 150px;
  width: 90%;
}

.user_edit_content2{
  display: flex;
  margin:15px;

}
.user_edit_content{
  margin:15px;

}

.profile_edit_label{
  font-weight: 600;
}

.user_profile_edit_btn{
  display: inline-block;
  width: 90px;
  border: 1px solid #d1dbde;
  background: linear-gradient(to bottom, #60cef0, #60cef0);
  color: #fff;
  line-height: 1;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  padding-top:13px;
  padding-bottom: 13px;
}

.user_profile_edit_btn2{
  width: 90px;
  border: 1px solid #d1dbde;
  background: linear-gradient(to bottom, #ed2751, #ed2751);
  color: #fff;
  line-height: 1;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  margin-left: 10px;
  padding-top: 13px;
}

.edit-profile {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.show_profile,
.my_question_list,
.my_answer_list,
{
  font-weight: 600;
}

.user_error_message{
    color:red;
    font-size: 15px;
}





// アカウント設定

.indetification,
.card_info,
.bank_info,
.point_info
{
  font-weight: 600;
}


// <div class="container mypage">
//             <nav class="myprNav mypr">
//                 <ul class="prNavWrap">
//                     <li><span class="proname1">ニックネーム：</span><span class="proname"><%= @user.nickname %></span></li><hr noshade><br>
//                     <li><span class="proname1">年齢：</span><span class="proname"><%= @user.age %></span></li><hr noshade><br>
//                     <li><span class="proname1">性別：</span>
//                       <span class="proname">
//                           <% if @user_sex == true %>
//                             <%= '女性' %>
//                           <% else %>
//                             <%= '男性' %>
//                           <% end %>
//                       </span></li><hr noshade><br>
//                     <li><span class="proname1">職業：</span><span class="proname"><%= @user.role %></span></li><hr noshade><br>
//                     <li class='pro_edit_btn'><%= link_to "編集する", "/users/#{current_user.id}/edit", class: 'user_edit_btn' %></li>
//                 </ul>
//                 <ul class="prNavWrap2">

//                     <div class="box12">
//                       <span class="box-title">自己紹介</span>
//                         <p class="profile">
//                           <%= @user.bio %>
//                         </p>
//                     </div>
//                 </ul>
//             </nav>
//         </div>

.edit_pro {
  border-bottom: solid 1px #343636;
  width: 400px;
  margin: 0 auto;
  display: flex;
  padding-top: 20px;

  div {
      color: #343636;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 10px;
    margin-bottom: 5px;
    }
  }

  .centera {
    text-align: center;
    margin: 0 auto;
  }

  .pro_edit_btn{
    text-align: right;
    font-size: 1.5rem;
    font-weight: 600;
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .user_edit_btn{
    &:hover{
      opacity: .7;
    }
  }

  .box12 {
    position: relative;
      margin: 0 auto;
      margin-top: 50px;
      border: solid 2px #343636;
      border-radius: 3px;
      width: 380px;
  }

  .box12 .box-title {
    position: absolute;
      display: inline-block;
      top: -13px;
      left: 10px;
      padding: 0 9px;
      line-height: 1;
      font-size: 19px;
      background: #FFF;
      color: #343636;
      font-weight: bold;
  }

  .box1212 {
    padding-bottom: 50px;
  }

  .point_all {
    background-color: #FFF;
    padding-top: 20px;
    padding-bottom: 100px;
    margin-bottom: 40px;
  }


  .point_some {
    border-bottom: 2px solid #666e71;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
    // margin-bottom: 80px;
    margin-top: 100px;
    color: #666e71;
    // display: flex;

    p {
      font-size: 2rem;
      display: inline;
      text-align: left;
      float: left;
      margin-left: 20px;
    }

    div {
      text-align: right;
      float: right;
      font-size: 2rem;
      margin-top: 3px;
      margin-right: 20px;
    }

    .icon_point2:before {
      // width: 40px;
      // background-color: #666e71;
      // border-radius: 100%;
      content: ">";
      margin-bottom: 20px;
    }
  }

  .text-1 {
    // width: 500px;
    // text-align: right;
    // margin-right: 310px;
    margin-top: 10px;
    color: #666e71;
  }

  .text1-center {
    width: 500px;
    margin: 0 auto;
    text-align: right;
  }

  // 準備中css

  .preparaiton_info {
    background-color: #FFF;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 40px;
    text-align: center;

    h1 {
      color: #60cef0;
      font-weight: 600;
      font-size: 7rem;
      font-family: Arial, Helvetica, sans-serif;

      span {
        color: #666e71;
        font-size: 3rem;
      }
    }

    h2 {
      font-size: 2rem;
      padding-top: 40px;
    }

    h3 {
      font-size: 2rem;
    }
  }

// プロフィールページレイアウト変更

  .pr_show_page {
    background-color: #FFF;
    margin-bottom: 40px;
  }

  .pr_section1 {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    width: 600px;
    margin: 0 auto;
  }

  .pr_img {
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2, );
    margin: 0 0 0 auto;
  }

  .pr_nickname {
    font-size: 2rem;
    font-weight: 600;
    padding-top: 5px;
    // color: #595753;
  }

  .pr_age {
    font-size: 1.5rem;
    padding-top: 30px;
  }

  .age_flex {
    display: flex;
  }

  .pr_sex {
    font-size: 1.5rem;
    padding-top: 20px;
  }

  .sex_flex {
    display: flex;
  }

  .pr_section2 {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 40px;
  }

  .role_flex {
    display: flex;
  }

  .pr_role {
    font-size: 1.5rem;
    padding-top: 20px;
  }

  .pr_self_line {
    width: 300px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }

  .pr_self {
    font-size: 2rem;
    font-weight: 600;
  }

  .self_pr {
    // color: #595753;
  }

  .self_text {
    font-size: 1.5rem;
    font-weight: 100;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .edit_btn_pr {
    width: 600px;
    margin: 0 auto;
    text-align: right;
    padding-bottom: 30px;
    padding-right: 20px;
  }

  .user_edit_btn2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #FFF;
    background-color: #60cef0;
    padding: 10px;
    border-radius: 40px;
  }

  .user_edit_btn2:hover {
    opacity: 0.7;
  }


  @media screen and (max-width: 640px) {
    .edit_pro {
      width: 250px !important;

      div {
        font-size: 1rem !important;
      }
    }

    .pro_edit_btn {
      width: 250px !important;
    }

    .box12 {
      width: 250px !important;
    }

    .MyNavWrap {
      width: 310px !important;
    }

    .MyNavWrap > li > a {
      font-size: 1.5rem !important;
      padding: 0 15px !important;
    }

    .edit_btn_pr {
      width: 360px !important;
      padding-right: 30px !important;
      margin: 0 0 0 auto !important;
    }

    .pr_section2 {
      width: 360px !important;
    }

    .pr_section1 {
      width: 360px !important;
    }

    .pr_img {
      margin: 0 0 0 auto !important;
    }

  }


// 設定


.edit_id_info{
    // width:300px;/
    text-align: center;
    li {
        margin-top: 10px;
    }

    select, input,{
        margin: 0 auto;
    }

    .mainItem{
        margin: 10px 0 10px 0;
    }
}

.verifie{
    margin-top: 20px;
    text-align: center;
}


.verifile_list{
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight : 100;
}

.edit-profile p{
    margin-left: 20%;
    margin-bottom: 10px;
    text-align: left;

}

.verifie_btn{
    display: block;
    margin: 0 auto;
}



// 本人情報登録
.id_info{
    list-style: none;
}


.verifie{
    font-size: 2rem;
    font-weight: bold;
}
.argument{
    margin-top:20px;
    text-align: center;
    font-size: 1.5rem;
}


// 銀行振込

.pay_btn{
    width:100px;
    font-size: 2.5rem;
    font-weight: bold;
    // display: flex;
    // justify-content: center;
    margin: 0 auto;
    margin-top: 70px;
    text-align: center;
    border: solid 4px #60cef0;
    border-radius: 0.4em;
    &:hover{
        opacity: 0.7;
    }
    a{
    color:#666e71;

    }
}


.bank_list{
    padding-bottom: 20px;

}
.bank_name{
    font-size: 1.5rem;
}

.no_bank{
    font-size: 1.5rem;
    text-align: center;
    padding-top:50px;
    padding-bottom: 50px;
}

.payout_fee{
    font-weight: 100;
    margin-top:10px;
    font-size: 11px;
    text-align: center;
}


.flash_notice{
    color: #fff;
    font-weight: bold;
    background :rgb(253, 65, 7);
    text-align: center;
    font-size: 1.5rem;
}
