// ログイン,新規登録

.loginnav {
	width: 350px;
  margin: 0 auto;
}

.loginnav2 {
	font-size: 1.5rem;
  font-weight: 600;
}

.loginlogo {
	text-align: center;
	background-color: #FFF;
  padding: 20px 0;
  margin: 20px 0;
  padding-bottom: 40px;
}

 .wakusen {
	border :0.5px solid;
	height: 20px;
	width : 250px;
	color : #666e71;
	padding: 2px;
	border-color: #666e71;
  padding-left : 5px;
  margin: 0 auto;
}
.user_option_save,
a.user_option_pass{
  font-size: 12px;
  margin: 5px 0;
}

input.loginBtn{
  margin: 10px 0;
}
input.loginBtn,
.loginBtn a {
  // font-size: 1.5rem;
  width: 250px;
  padding: 10px 0;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #60cef0;
  border-radius: 50px;
  display: inline-block;
	box-shadow: 0 0 10px #ddd;
	// margin: 5px 0;
}

.loginBtnFb {
	width: 250px;
  // padding: 10px 0;
  padding: 15px 0;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #3B5998;
  border-radius: 50px;
  display: inline-block;
	box-shadow: 0 0 10px #ddd;
  // margin-bottom: 10px;
  margin-bottom: 25px;
}

.loginBtnTw {
	width: 250px;
  padding: 15px 0;
  margin: auto;
  // margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  text-align: center;
  background: #1DA1F2;
  border-radius: 50px;
  display: block;
  box-shadow: 0 0 10px #ddd;
}

.snslogin {
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top : 15px;
}

.noshade1 {
	width: 250px;
}

.forgetpass {
	display: block;
	font-size: 0.5rem;
	padding-right: 140px;
}

.loginnav3 {
	margin-bottom: 0;
}

.loginnav4 {
	margin-bottom: 0;
	margin-top : 15px;
}


// ユーザーページ

.mypage {
    width: 1120px;
    margin: 0 auto;
}

.myprNav {
  background-color: #fff;
  margin-bottom: 40px;
}

.mypr{
  margin-bottom: 40px;
}

.MyNavWrap {
	width: 410px;
	margin: 0 auto;
	padding: 18px 0;
	display: flex;
	align-items: center;
}

.MyNavWrap > li > a {
	font-size: 1.5rem;
	color: #343636;
  padding: 0 30px;
  &:hover{
    opacity: .7;
  }
}

.prNavWrap {
	width: 330px;
	margin: 0 auto;
	padding: 18px 0;
	align-items: center;
}

.prNavWrap > li {
	font-size: 1.5rem;
	font-weight: 600;
	color: #343636;
	padding: 0 10px;
}

.prNavWrap2 {
	width: 345px;
	margin: 0 auto;
	padding: 18px 0;
	align-items: center;
}
.prNavWrap2 > li {
	font-size: 1.5rem;
	font-weight: 600;
	color: #343636;
	padding: 0 30px;
}

.proname{
	display: block;
  text-align: center
}

.proname1 {
	float: left;
}

.profile {
	font-size: 1.5rem;
	font-weight: 600;
	color: #343636;
	margin: 15px;
  padding: 0;
}

.box12 {
	position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #60cef0;
    border-radius: 8px;
}

.box12 .box-title {
	position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #343636;
    font-weight: bold;
}

.pro_edit_btn{
  text-align: end;
}
.user_edit_btn{
  color: #888e92;
}


.my_answer_item{
  padding-bottom: 5px;
}

.my_answer_item p{
  margin: 15px 0;
}


// プロフィール情報編集

.user_profile_edit{
  font-size: 1.5rem;
  padding: 20px 0;
  width: 330px;
  margin: 0 auto;
}
.user_edit_form{
  border: 0.5px solid #666e71;
  height: 25px;
  display: block;
  margin-top: 5px;
  padding: 0 5px;
  font-weight: 400;
  background-color: #FFF;
  width: 200px;
}

.edit_nickname {
  width: 189px;
}

.user_edit_form.edit_bio {
  padding-top: 5px;
  height: 150px;
  width: 380px;
}

.user_edit_content{
  margin:15px;

}

.profile_edit_label{
  font-weight: 600;
}

.user_profile_edit_btn{
  display: inline-block;
  width: 90px;
  border: 1px solid #d1dbde;
  background: linear-gradient(to bottom, #60cef0, #60cef0);
  color: #fff;
  line-height: 1;
  padding: 0.7em;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.user_profile_edit_btn2{
  width: 200px;
  border: 1px solid #d1dbde;
  background: linear-gradient(to bottom, #ed2751, #ed2751);
  color: #fff;
  line-height: 1;
  padding: 0.7em;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  margin-left: 5px;
}

.edit-profile {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: #fff;
  font-size: 2rem;
  font-weight: 600;
}

.show_profile,
.my_question_list,
.my_answer_list,
{
  font-weight: 600;
}

// アカウント設定

.indetification,
.card_info,
.bank_info,
{
  font-weight: 600;
}
