// 回答送信の確認画面

.container_answer{
  width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}


.answer_actions input{
  display: inline-block;
  width: 220px;
  border: 1px solid #d1dbde;
  // border-radius: 5px;
  text-align: center;
  line-height: 1;
  padding: 0.7em;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
}

.answer_back{
  background: #ef323d;
  margin-right: 200px;
  &:hover{
    opacity: .7;
  }
}

.answer_create{
  background: #4fc1ea;
  &:hover{
    opacity: .7;
  }
}


@media screen and (max-width: 640px) {

    .container_answer{
        width: 50px;
      }

      .answer_back{
        margin-right: 20px;
      }

      .answer_actions input{
        width: 170px;
        font-size: 15px;
      }

}
